.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 35px;
}

@media (max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1100px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1500px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}


.video-content{
    display: block;
    cursor: pointer;
}
.video-preview .three-dot{
    position: absolute;
    bottom: -32px;
    right: 1px;
    opacity: 0;
}
.video-content:hover .three-dot{
    opacity: 1;
}


.video-preview{
    position: relative;
    margin-bottom: 10px;
}

.video-preview img{
    width: 100%;
}
.video-preview .dot{
    width: 18px;

}
.duration{
    position: absolute;
    color: white;
    background-color: rgb(24,24,24);
    opacity: .9;
    bottom: 10px;
    right: 7px;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
}

.video-about{
    display: grid;
    grid-template-columns: 38px 1fr;
    column-gap: 10px;
}

.video-about img{
    width: 38px;
    border-radius: 20px;
}
.video-text{
   display: block;
   
}
.video-name{
    font-size: 14px ;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 20px;
    padding-right: 10px;
}
.video-author{
    font-size: 12px;
    color: gray;
    margin-bottom: 4px;
}

.video-author:hover{
    color: white;
}

.video-info{
    font-size: 13px;
    color: gray;

}


/* 
<div class="infoButton">
    <span class="tooltip">?
      <span class="tooltiptext">This is a YouTube home page using css flex and grid. Designed only for the purpose of learning.</span>
    </span>
  </div> 
  */

  .infoButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 10000;
  }
  
  .tooltip {
    margin: 0;
    padding: 10px 19px;
    border-radius: 50%;
    background-color: #151514;
    color: rgb(237, 237, 237);
    position: relative;
    display: inline-block;
    font-size: 24px;
    z-index: 10000;
  }
  
  .tooltip .tooltiptext {
    font-size: 0.9rem;
    line-height: 1.1rem;
    visibility: hidden;
    width: max-content;
    max-width: 400px;
    background-color: #474545;
    color: #fff;
    text-align: left;
    padding: 12px;
    border-radius: 6px;
    bottom: 115%;
    right: 13px;
    margin-left: -40px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 300ms;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /* arrow */
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    right: 6px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #474545 transparent transparent transparent;
  }
  