body {
    font-family: "Roboto","Arial",sans-serif;
    background-color: rgb(24,24,24);
    color: white;
    margin: 0;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
}

